Source: libexe
Section: unknown
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: http://code.google.com/p/libexe/

Package: libexe
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library to access the executable (EXE) format
 libexe is a library to access the executable (EXE) format.

Package: libexe-dev
Section: libdevel
Architecture: any
Depends: libexe (= ${Source-Version})
Description: Header files and libraries for developing applications for libexe
 Header files and libraries for developing applications for libexe.

Package: libexe-tools
Section: utils
Architecture: any
Depends: libexe (= ${Source-Version}), ${shlibs:Depends}
Description: Several tools for reading executable (EXE) files
 Several tools for reading executable (EXE) files.

Package: libexe-python
Section: python
Architecture: any
Depends: libexe (= ${Source-Version}), ${shlibs:Depends}, ${python:Depends}
Description: Python bindings for libexe
 Python bindings for libexe.

